<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Algorithms</title>
    <link rel="stylesheet" href="/css/algorithms.css">
</head>
<body>
<div id="main-wrapper">

    <div>
        <h3 style="display: inline-block; margin: 1rem;"><a href="/admin">Main</a></h3>
        <h3 style="display: inline-block; margin: 1rem;"><a href="/admin/algorithms">Algorithms</a></h3>
        <h3 style="display: inline-block; margin: 1rem;"><a href="/admin/problems">Problems</a></h3>
        <h3 style="display: inline-block; margin: 1rem;"><a href="/admin/problemsets">Problemsets</a></h3>
    </div>

    <h3>Algorithms</h3>

    <div>
        <a href="/admin/categories">Manage Categories</a>
    </div>

    <div>
        <form action="/admin/algorithms/create" method="post">
            <input type="submit" value="New Algorithm">
        </form>
    </div>

    <table>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
        </tr>
        <tr th:each="algorithm : ${algorithms}">
            <td th:text="${algorithm.algorithmId}"></td>
            <td><a th:href="@{/admin/algorithm/{algorithmId}(algorithmId=${algorithm.algorithmId})}" th:text="${algorithm.title}"></a></td>
            <td th:text="${algorithm.category?.title}"></td>
            <td th:text="${algorithm.description}"></td>
        </tr>
    </table>
</div>
</body>
</html>