<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
<div id="main-wrapper">

    <div>
        <h3 style="display: inline-block; margin: 1rem;"><a href="/admin">Main</a></h3>
        <h3 style="display: inline-block; margin: 1rem;"><a href="/admin/algorithms">Algorithms</a></h3>
        <h3 style="display: inline-block; margin: 1rem;"><a href="/admin/problems">Problems</a></h3>
        <h3 style="display: inline-block; margin: 1rem;"><a href="/admin/problemsets">Problemsets</a></h3>
    </div>

    <h3>Main</h3>


</div>
</body>
</html>