<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Problem</title>
    <link rel="stylesheet" href="/css/problem.css">
</head>

<body>

<div id="main-wrapper">
    <div>
        <h3><a href="/admin/problems">Problems</a></h3>
    </div>

    <div>
        <ol>
            <li><a th:href="@{/admin/problem/{problemId}(problemId = ${problemForm.problemId})}">Statement</a></li>
            <li><a th:href="@{/admin/src/{problemId}(problemId = ${problemForm.problemId})}">Resources</a></li>
            <li><a th:href="@{/admin/preview/{problemId}(problemId = ${problemForm.problemId})}">Preview</a></li>
        </ol>
    </div>

    <div>
        <form action="/admin/problem/update" method="post" th:object="${problemForm}">
            <table>
                <tbody>
                <tr>
                    <th>#</th>
                    <td><input th:field="*{problemId}" type="text" readonly></td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td><input th:field="*{problemName}"></td>
                </tr>
                <tr>
                    <th>Time limit(s)</th>
                    <td><input th:field="*{timeLimit}"></td>
                </tr>
                <tr>
                    <th>Memory limit(MiB)</th>
                    <td><input th:field="*{memoryLimit}"></td>
                </tr>
                <tr>
                    <th>Checker</th>
                    <td>
                        <select id="checker" name="checker">
                            <option value="wcmp" th:selected="${problemForm.checker}=='wcmp'">wcmp.cpp - Sequence of tokens</option>
                            <option value="fcmp" th:selected="${problemForm.checker}=='fcmp'">fcmp.cpp - Lines, doesn't ignore whitespaces</option>
                            <option value="hcmp" th:selected="${problemForm.checker}=='hcmp'">hcmp.cpp - Single huge integer</option>
                            <option value="lcmp" th:selected="${problemForm.checker}=='lcmp'">lcmp.cpp - Lines, ignores whitespaces</option>
                            <option value="ncmp" th:selected="${problemForm.checker}=='ncmp'">ncmp.cpp - Single or more int64, ignores whitespaces</option>
                            <option value="nyesno" th:selected="${problemForm.checker}=='nyesno'">nyesno.cpp - Zero or more yes/no, case insensetive</option>
                            <option value="rcmp4" th:selected="${problemForm.checker}=='rcmp4'">rcmp4.cpp - Single or more double, max any error 1E-4</option>
                            <option value="rcmp6" th:selected="${problemForm.checker}=='rcmp6'">rcmp6.cpp - Single or more double, max any error 1E-6</option>
                            <option value="rcmp9" th:selected="${problemForm.checker}=='rcmp9'">rcmp9.cpp - Single or more double, max any error 1E-9</option>
                            <option value="yesno" th:selected="${problemForm.checker}=='yesno'">yesno.cpp - Single yes or no, case insensetive</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Legend</th>
                    <td><textarea th:field="*{legend}" th:value="*{legend}" rows="10" cols="90"></textarea></td>
                </tr>
                <tr>
                    <th>Input format</th>
                    <td><textarea th:field="*{inputFormat}" th:value="*{inputFormat}" rows="5" cols="90"></textarea></td>
                </tr>
                <tr>
                    <th>Output format</th>
                    <td><textarea th:field="*{outputFormat}" th:value="*{outputFormat}" rows="5" cols="90"></textarea></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Save"></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

</body>
</html>